.should-try {
  padding-top: 120px;
  padding-bottom: 75px;
}

.should-try__title {
  text-align: center;
}

.should-try__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px;
  margin-top: 70px;
  margin-bottom: 120px;

  @media ($media_sm) {
    grid-template-columns: 1fr;
  }
}

.should-try__item {
  display: grid;
  grid-template-rows: min-content 1fr min-content; // и ждем subgrid

  &::before {
    content: "";
    display: block;
    width: 248px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background: $color_white var(--icon) no-repeat center;
    box-shadow: 0 44px 89px -17px rgba(62, 84, 216, 0.12);
    border-radius: 36px;
  }

  &--1 {
    --icon: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.07' cx='60' cy='60' r='60' fill='%23ED6373'/%3E%3Cpath d='M85.6642 66.1252C84.3517 64.521 82.1642 64.2293 80.56 65.5418L70.2059 73.5627C69.6225 74.0002 69.0392 74.146 68.4559 74.146H61.0184C59.9975 74.146 59.1225 73.271 59.1225 72.396C59.1225 71.521 59.9975 70.5002 60.8725 70.5002H67.1434C69.185 70.5002 70.7892 68.896 70.7892 66.8543C70.7892 64.8127 69.185 63.2085 67.1434 63.2085H52.9975H51.9767C50.0809 63.2085 48.185 63.9377 46.5809 65.1043L41.4767 69.0418C41.185 69.3335 41.0392 69.771 41.3309 70.0627L51.1017 82.4585C51.2475 82.6043 51.3934 82.7502 51.685 82.7502L63.6434 82.896H66.9975C69.0392 82.896 70.935 82.3127 72.5392 81.0002L85.0809 71.0835C86.685 69.9168 86.8309 67.7293 85.6642 66.1252Z' fill='%23ED6373'/%3E%3Cpath d='M38.5613 72.396C38.2697 72.1043 37.8322 71.9585 37.5405 72.2502L35.2072 74.0002C34.9155 74.2918 34.7697 74.7293 35.0613 75.021L44.6863 87.1252C44.978 87.4168 45.4155 87.5627 45.7072 87.271L48.0405 85.521C48.3322 85.2293 48.478 84.7918 48.1863 84.5002L38.5613 72.396ZM73.7072 44.1043C73.7072 44.396 73.9988 44.6877 74.2905 44.6877H78.8113C79.2488 44.6877 79.5405 44.2502 79.3947 43.9585C78.6655 40.1668 76.3322 36.8127 72.978 34.9168C72.3947 34.6252 71.8113 35.2085 72.103 35.646C72.978 38.1252 73.5613 41.0418 73.7072 44.1043ZM59.4155 48.6252C59.4155 48.3335 59.1238 48.0418 58.8322 48.0418H54.3113C53.8738 48.0418 53.5822 48.4793 53.728 48.771C54.4572 52.5627 56.7905 55.9168 60.1447 57.8127C60.728 58.1043 61.3113 57.521 61.0197 57.0835C60.1447 54.6043 59.5613 51.6877 59.4155 48.6252ZM59.9988 34.9168C56.6447 36.8127 54.3113 40.021 53.5822 43.9585C53.4363 44.396 53.8738 44.6877 54.1655 44.6877H58.6863C58.978 44.6877 59.2697 44.396 59.2697 44.1043C59.4155 41.0418 59.9988 38.1252 60.728 35.7918C61.1655 35.2085 60.5822 34.6252 59.9988 34.9168ZM66.5613 33.896C65.2488 33.896 63.2072 37.6877 62.7697 44.1043C62.7697 44.396 63.0613 44.8335 63.4988 44.8335H69.9155C70.353 44.8335 70.6447 44.5418 70.6447 44.1043C69.9155 37.6877 67.8738 33.896 66.5613 33.896ZM78.8113 48.0418H74.2905C73.9988 48.0418 73.7072 48.3335 73.7072 48.6252C73.5613 51.6877 72.978 54.6043 72.2488 56.9377C72.103 57.521 72.6863 57.9585 73.1238 57.6668C76.478 55.771 78.8113 52.5627 79.5405 48.6252C79.5405 48.3335 79.2488 48.0418 78.8113 48.0418ZM69.7697 47.896H63.353C62.9155 47.896 62.6238 48.1877 62.6238 48.6252C63.0613 55.0418 65.2488 58.8335 66.4155 58.8335C67.5822 58.8335 69.7697 55.0418 70.2072 48.6252C70.4988 48.1877 70.0613 47.896 69.7697 47.896Z' fill='%23ED6373'/%3E%3C/svg%3E%0A");
  }

  &--2 {
    --icon: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.07' cx='60' cy='60' r='60' fill='%23199F27'/%3E%3Cpath d='M91.8926 50.9616L80.0051 38.2148C79.7187 37.9284 79.289 37.9284 79.0026 38.2148L73.9898 42.9412C73.7034 43.2276 73.7034 43.6573 73.9898 43.9437L85.8772 56.6905C86.1637 56.9769 86.5934 56.9769 86.8798 56.6905L91.8926 51.9642C92.0358 51.6777 92.0358 51.2481 91.8926 50.9616ZM87.4527 52.3938C86.8798 52.9667 85.8772 52.9667 85.3044 52.3938C84.7315 51.8209 84.7315 50.8184 85.3044 50.2455C85.8772 49.6726 86.8798 49.6726 87.4527 50.2455C88.1688 50.8184 88.0256 51.8209 87.4527 52.3938ZM39.33 39.9335C39.0436 39.6471 38.6139 39.7903 38.3275 40.0767L27.1561 54.3989C26.8697 54.6854 27.0129 55.1151 27.2994 55.4015L32.7418 59.6982C33.0282 59.9846 33.4579 59.8414 33.7444 59.5549L44.9157 45.2327C45.2021 44.9463 45.0589 44.5166 44.7725 44.2302L39.33 39.9335ZM34.0308 54.9718C33.4579 55.6879 32.4554 55.8312 31.8825 55.2583C31.1664 54.6854 31.0231 53.6828 31.596 53.1099C32.1689 52.3938 33.1715 52.2506 33.7444 52.8235C34.4605 53.2532 34.6037 54.2557 34.0308 54.9718Z' fill='%23199F27'/%3E%3Cpath d='M75.5652 68.8645L63.2481 59.2686L60.9565 61.2737C57.8056 64.1381 54.9412 64.8542 52.7928 64.8542C52.22 64.8542 51.7903 64.8542 51.2174 64.711C48.2098 64.1381 46.2047 62.2762 45.3453 60.7008C44.1995 58.9821 44.6292 56.6906 46.0614 55.2583L54.798 47.2379C53.7954 46.3786 52.5064 46.0921 51.3606 46.0921C49.642 46.0921 47.9233 46.8082 46.7775 48.3837L38.1842 59.555C37.4681 60.4143 37.1816 61.5601 37.3249 62.7059L37.8977 67.1458C38.041 68.2916 38.6139 69.2941 39.4732 70.0102L54.5115 81.7544C54.9412 82.0409 55.3709 82.1841 55.9438 82.1841C56.5166 82.1841 57.2328 81.8977 57.6624 81.468L58.3785 80.7519C59.2379 79.7493 59.2379 78.3171 58.0921 77.4578L60.6701 79.6061C61.0997 80.0358 61.6726 80.179 62.1023 80.179C62.6752 80.179 63.2481 79.8926 63.6777 79.4629L64.3939 78.7468C65.3964 77.7442 65.3964 76.1688 64.2506 75.3095L66.1125 76.8849C66.5422 77.3146 67.1151 77.4578 67.5448 77.4578C68.1177 77.4578 68.6905 77.1713 69.1202 76.7417L69.8363 76.0256C70.8389 75.023 70.6957 73.4476 69.6931 72.5882L70.9821 73.5908C71.4118 74.0205 71.9847 74.1637 72.5575 74.1637C73.2737 74.1637 73.8465 73.8772 74.2762 73.3043L75.2788 72.0153C76.711 71.156 76.5678 69.5806 75.5652 68.8645ZM81.5805 57.4067L71.2686 46.8082C70.8389 46.3786 70.266 46.0921 69.5499 45.9489L64.2506 45.2328C63.3913 45.0896 62.532 45.376 61.9591 45.9489L60.6701 47.0947L48.7826 57.9796C48.6394 58.1228 48.353 58.4092 48.6394 58.8389L48.7826 58.9821C49.2123 59.8415 50.3581 60.9872 52.0767 61.2737C54.0818 61.5601 56.3734 60.7008 58.665 58.6957L63.1049 54.6855L77.1406 65.5703L81.5805 61.4169C82.5831 60.2711 82.7263 58.5525 81.5805 57.4067Z' fill='%23199F27'/%3E%3C/svg%3E%0A");
  }

  &--3 {
    --icon: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='60' cy='60' r='60' fill='%23FEFAF1'/%3E%3Cpath d='M86 61.4839L84.1748 51.9368C83.7536 49.6905 81.788 48.1461 79.5417 48.1461H75.6105C73.3642 48.1461 71.3986 49.6905 70.9774 51.9368C71.1178 52.358 71.2582 52.7792 71.2582 53.2004L73.3642 64.7131C73.645 66.117 73.3642 67.3806 72.8026 68.6442C72.8026 68.6442 72.8026 68.6442 72.8026 68.7846L73.5046 77.6297C73.645 78.8933 74.6278 79.7357 75.8913 79.7357H79.1205C80.3841 79.7357 81.3669 78.7529 81.5073 77.6297L82.2093 68.7846C82.2093 68.3634 82.3497 67.9422 82.6305 67.6614L85.5788 63.4495C85.8596 62.7475 86 62.1859 86 61.4839ZM42.617 44.7765C45.7057 44.7765 48.0925 42.2493 48.0925 39.301C48.0925 36.2122 45.5653 33.8254 42.617 33.8254C39.5282 33.8254 37.1414 36.3526 37.1414 39.301C37.1414 42.2493 39.5282 44.7765 42.617 44.7765ZM77.7165 44.7765C80.8053 44.7765 83.192 42.2493 83.192 39.301C83.192 36.2122 80.6649 33.8254 77.7165 33.8254C74.6278 33.8254 72.241 36.3526 72.241 39.301C72.241 42.2493 74.6278 44.7765 77.7165 44.7765ZM44.4421 48.0057H40.511C38.2646 48.0057 36.299 49.55 35.8778 51.7964L34.0526 61.3435C33.9123 61.9051 34.0527 62.6071 34.4738 63.1687L37.4222 67.3806C37.703 67.6614 37.8434 68.0826 37.8434 68.5038L38.5454 77.3489C38.6858 78.6125 39.6686 79.4549 40.9322 79.4549H44.1613C45.4249 79.4549 46.4077 78.4721 46.5481 77.3489L47.2501 68.5038C47.2501 68.5038 47.2501 68.5038 47.2501 68.3634C46.6885 67.0998 46.4077 65.8362 46.6885 64.4323L48.7945 52.9196C48.9349 52.4984 48.9349 52.0772 49.0753 51.656C48.6541 49.6904 46.6885 48.0057 44.4421 48.0057Z' fill='%23F3B63F'/%3E%3Cpath d='M60.1652 45.1974C63.8156 45.1974 66.764 42.2491 66.764 38.5987C66.764 34.9484 63.8156 32 60.1652 32C56.5149 32 53.5665 34.9484 53.5665 38.5987C53.5665 42.2491 56.5149 45.1974 60.1652 45.1974ZM69.9931 65.2744L67.8871 53.7617C67.3256 51.0942 65.0792 49.1286 62.4116 49.1286H57.6381C54.9705 49.1286 52.5837 51.0942 52.1625 53.7617L50.0566 65.2744C49.9162 65.9764 50.0566 66.8188 50.4778 67.3804L53.9877 72.5751C54.2685 72.9963 54.4089 73.4175 54.4089 73.9791L55.2513 84.6493C55.3917 86.0533 56.6553 87.1765 58.0593 87.1765H61.85C63.254 87.1765 64.5176 86.0533 64.658 84.6493L65.5004 73.9791C65.5004 73.5579 65.6408 72.9963 65.9216 72.5751L69.4315 67.3804C69.9931 66.8188 70.1335 65.9764 69.9931 65.2744Z' fill='%23F3B63F'/%3E%3C/svg%3E%0A");
  }
}

.should-try__subtitle {
  align-self: center;
  margin-top: 32px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: rem(24, 18);
  text-align: center;
}

.should-try__description {
  font-size: 1rem;
}

.should-try__invitation {
  margin-bottom: 50px;
  font-size: rem(32,18);
  font-weight: 600;
  text-align: center;
}

.should-try__btn {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
