.footer {
  background-color: $color_white;
  padding: 2.7rem 0;

  @media ($media_sm) {
    padding: 2.7rem 0 0 0;
  }
}

.footer-inner {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2.5rem;

  @media ($media_sm) {
    grid-template-columns: 1fr;
  }

  a {
    color: $color_blue;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;

    &:hover, &:focus {
      //border-color: $color_blue;
    }
  }
}

.footer-logo {
  width: 12rem;

  @media ($media_sm) {
    justify-self: center;
    text-align: center;
  }
}

.footer-logo-icon {
  max-width: 100%;
}

.footer-text {
  color: $color_gray;

  strong {
    color: $color_blue;
    font-weight: normal;
  }
}

.footer-link {
  display: inline-flex;
  flex-direction: column;
  justify-self: flex-start;
}

.footer-contact {
  display: inline-flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: space-around;

  @media ($media_sm) {
    justify-self: center;
    text-align: center;
  }

  a {

    @media ($media_sm) {
      margin-top: 0.2rem;
    }
  }
}

.footer-link {
  justify-content: space-between;
  height: 4rem;

  @media ($media_sm) {
    &:last-child {
      margin-top: -1.8rem;
    }
  }
}
