.footer {
  background-color: $color_white;
  padding: 2.7rem 0;

  @media ($media_sm) {
    padding: 2.7rem 0 3rem 0;
  }
}

.footer-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem 0.2rem;

  @media ($media_sm) {
    grid-template-columns: 1fr;
  }

  a {
    color: $color_blue;
    text-decoration: none;
    &:hover, &:focus {
      //border-color: $color_blue;
    }
  }
}

.footer-logo {
  width: 12rem;

  @media ($media_sm) {
    justify-self: center;
    text-align: center;
  }
}

.footer-logo-icon {
  max-width: 100%;
}

.footer-text {
  color: $color_gray;

  @media ($media_sm) {
    text-align: center;
  }

  strong {
    color: $color_blue;
    font-weight: normal;
  }
}

.footer-contact {
  display: grid;
  row-gap: 1em;

  @media ($media_sm) {
    justify-self: center;
    text-align: center;
  }

  a {

    @media ($media_sm) {
      margin-top: 0.2rem;
    }
  }
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.2em 1.4em;
  font-size: 14px;

  @media ($media_sm) {
    row-gap: 0.8rem;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.footer-fin {

  &::after {
    content: var(--icon-finland);
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
  }
}

.footer-denial-of-responsibility {
  font-weight: 500;
}

.footer-copyright {
  margin-top: 1.6em;
  font-size: 16px;
}
