@use "sass:math"; // для подключения модуля math в scss

@import "./lib/variables";
@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
//@import "./lib/fonts";
//@import "./lib/lightslider";
//@import "./lib/selectric";
//@import "./lib/animate";
@import "./lib/mixins";
@import "./lib/global";
@import "./lib/burger";
@import "./lib/modal";


@import "header";
@import "footer";

@import "blocks/table";
@import "blocks/btn";

@import "blocks/about";
@import "blocks/beatmarket-title";
@import "blocks/why-try";
@import "blocks/should-try";
@import "blocks/payment-system";
@import "blocks/address";


.section-table-sort {
	padding: calc(var(--section_padding) - 2rem) 0 var(--section_padding) 0;
	background: linear-gradient(180deg, #FBFCFF 0%, #EAF1FE 100%);
}

.table-sort {

	// .table-sort__row

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
	}

	// .table-sort__item

	&__item {}

	// .table-sort__item-text

	&__item-text {
		font-size: 16px;
		position: relative;
		padding: 5px 16px;
		min-height: 66px;

		display: flex;
		align-items: center;

		&+& {
			border-top: 1px solid #E6EEFF;
		}

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #3E54D8;
			position: absolute;
			left: 0;
			top: 45%;
		}
	}

	// .table-sort__block

	&__block {
		background: #FFFFFF;
		/* Line table */

		border: 1px solid #E6EEFF;
		/* Table shadow */

		box-shadow: 0px 18px 16px -13px rgba(62, 84, 216, 0.1);
		border-radius: 18px;
		padding: 24px 32px;

		transform: translateY(-94px);
	}

	// .table-sort__block-row

	&__block-row {
		display: flex;
		margin-bottom: 12px;
	}

	// .table-sort__block-item

	&__block-item {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
		padding: 5px 16px;
		min-height: 66px;

		&+& {
			border-top: 1px solid #E6EEFF;
		}
	}

	// .table-sort__block-info

	&__block-info {
		padding: 0 16px;
		width: 100%;
		font-size: 16px;
		font-weight: 600;
		border-radius: 10px;
		color: $color_white;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 190px;
		height: 57px;

		&+& {
			margin-left: 7px;
		}

		&.blue {
			background-color: $color_blue;
		}

		&.yellow {
			background-color: $color_yellow;
		}
	}

	// .table-sort__block-mark

	&__block-mark {
		display: flex;
		width: 24px;
		height: 24px;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: #199F27;
		border-radius: 41.5135px;

		svg {
			width: 9px;
			height: 6px;
		}
	}

	// .table-sort__block-not

	&__block-not {
		width: 20px;
		height: 2px;
		background-color: #D3E3FF;
	}
}